.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px;

}

.main-menu{
    display: flex;
    gap: 20px;
    list-style: none;
    flex-wrap: wrap;
    

}
.main-menu li a {
    text-decoration: none;
    color: var(--black);
    
}
.logo{
    height: 50px;
    object-fit: contain;
    
}
